
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.disk {
    width: 200px;
    height: 200px;
    background-color: #ddd;
    border-radius: 50%;
    position: relative;
    animation: rotate 2s linear infinite;
    margin-top: 30px;
}

.shine {
    width: 50%;
    height: 3px;
    background-color: rgba(163, 161, 161, 0.5); /* Color y opacidad del brillo */
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: top left;
}

.disk::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.contenedor{
    content: "";
    display: flex;
    position: relative;
    background-color: black;
    height: 99%;
    width: 50%;
    justify-content: center;
    align-items: start;
    padding: 2%;
}

.caja-tornillos-left{
    position: absolute;
    top: 0;
    left: 0;
    height: 93%;
    width: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 5px;
}

.caja-tornillos-right{
    position: absolute;
    top: 0;
    right: 0;
    height: 93%;
    width: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 5px;
}

.tornillo{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.cosos{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
}

.rectangulo1{
    width: 50px;
    height: 60px;
    background-color: #616060;
    top: 0;
    left: 30px;
    position: relative;
}

.triangulo{
    width: 0;
    height: 0;
    border-right: 30px solid #616060;
    border-top: 20px solid #616060;
    border-left: 20px solid transparent;
    border-bottom: 30px solid transparent;
    left: 30px;
    position: relative;
}

.rectangulo2{
    width: 60px;
    height: 50px;
    top: -50px;
    background-color: #616060;
    left: 80px;
    position: relative;
}

.rectangulo3{
    width: 40px;
    height: 50px;
    top: -100px;
    background-color: #616060;
    left: 75%;
    position: relative;
}

.aguja{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50%;
}
.circulo1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    left: 70px;
    bottom: 60px;
    z-index: 2;
}

.circulo2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #616060;
    position: absolute;
    left: 80px;
    bottom: 70px;
    z-index: 2;
}

.triangulo2 {
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 100px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 120px solid #616060;
    position: absolute;
    left: 145px;
    bottom: 50px;
    transform: rotate(45deg);
    z-index: 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
